<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Local package source for testing new versions -->
    <add key="MikuLib Test" value="./nupkg" />
	<!-- Local package when passed test -->
	<add key="MikuLib" value="./nupkgs" />
    <!-- NuGet.org as fallback -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- Map MikuLib packages to local source first -->
	<packageSource key="MikuLib Test">
	  <package pattern="MikuLib*" />
	</packageSource>
    <packageSource key="MikuLib">
      <package pattern="MikuLib*" />
    </packageSource>
    <!-- Everything else from nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
